mixin nav(user)
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        if user && user !== 'admin'
          p Алёна Фролова
        unless user
          a.header__registration(href='/register') Регистрация
      li.header__list-item
        if user && user !== 'admin'
          a.header__exit(href='/login') Выйти
        unless user
          a.header__enter(href='/login') Вход с паролем
