mixin nav(user)
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        if user
          p Алёна Фролова
        else
          a.header__registration(href='/register') Регистрация
      li.header__list-item
        if user
          a.header__exit(href='/login') Выйти
        else
          a.header__enter(href='/login') Вход с паролем
