mixin tags(categories)
  section.main-page__theme-list
    h2.visually-hidden Список тем
    if categories
      ul.themes
        each category in categories
          li.themes__item
            a.themes__item-link(href="/articles/category/1")
              span= category
              sup 88
