# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
logs
mocks.json
node_modules/

# Папка с собранными файлами проекта
build/

# Загрузки
src/uploads/*
!src/uploads/.gitkeep

# jest
coverage
